#Entorno virtual
env/

#IDEs
.vscode/
.cursor
.cursorrules

#Bds
db.sqlite3

#caché python
__pycache__
*.py[cod]

# Logs
*.log

# Archivos de entorno
.env
.sonar

#otros
templates/copiamenutest.html/

