{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registros de Cloración</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="{% static 'cloraciones/css/pdf.css' %}" />
</head>
<body>
    <header class="no-break">
        <div class="logo">
            <img src="{% static 'cloraciones/img/logo.png' %}" alt="Logo">
        </div>
        <div class="titulo">
            <h2><strong>CONTROL CLORACIÓN LÍNEAS DE PROCESO</strong></h2>
        </div>
        <div class="datos">
            <div><strong>Línea:</strong> <span>{{ grupo.lineas_id.num_lin }}</span></div>
            <div><strong>Turno:</strong> <span>{{ grupo.turnos_id.nom_tur }}</span></div>
            <div><strong>Fecha:</strong> <span>{{ grupo.dia_id.dia_dia }}</span></div>
        </div>
    </header>

    <section class="info no-break">
        <div><strong>Sector: </strong> <span>{{ grupo.sector_id.nom_sec }}</span></div>
        <div><strong class="salto">Especie: </strong> <span>{{ grupo.especies_id.nom_esp }}</span></div>
    </section>

    <main>
        <table class="no-break">
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>PPM</th>
                    <th>pH</th>
                    <th>Hipoclorito (ml)</th>
                    <th>Ácido (ml)</th>
                    <th>Observación</th>
                </tr>
            </thead>
            <tbody>
                {% for cloracion in registros_cloracion %}
                <tr>
                    <td>{{ cloracion.hor_clo }}</td>
                    <td>{{ cloracion.ppm_clo }}</td>
                    <td>{{ cloracion.phe_clo }}</td>
                    <td>{{ cloracion.hcl_clo }}</td>
                    <td>{{ cloracion.aci_clo }}</td>
                    <td>{{ cloracion.obs_clo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="totals-section no-break">
            <div class="totals-box">
                <div class="total-row">
                    <strong>Total Gasto Hipoclorito:</strong>
                    <span class="pading">{{ total_hipo }}</span>
                </div>
                <div class="total-row">
                    <strong>Total Gasto Ácido:</strong>
                    <span class="pading">{{ total_acido }}</span>
                </div>
            </div>
        </div>

        <div class="product-lot no-break">
            <h3><strong>Lote Producto</strong></h3>
            <div class="lot-info">
                <div class="lot-item">
                    <strong>Hipoclorito:</strong>
                    <span class="espacio">{{ grupo.loh_gru }}</span>
                </div>
                <div class="lot-item">
                    <strong>Ácido:</strong>
                    <span class="espacio">{{ grupo.loa_gru }}</span>
                </div>
            </div>
        </div>
    </main>

    <footer class="no-break">
        <div class="firmas">
            <div>
                <span>{{ grupo.trabajador_id.nom_tra }} {{ grupo.trabajador_id.app_tra }}</span>
                <p>Monitor V°B°</p>
            </div>
            <div>
                <span class="ajuste"></span>
                <p>Supervisor V°B°</p>
            </div>
            <div>
                <span class="ajuste"></span>
                <p>Fecha V°B°  Hora V°B°</p> 
            </div>
        </div>
    </footer>
</body>
</html>