
  <div class="modal fade" id="modal-{{ l.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ l.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalLabel-{{ l.id }}">Observación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% if l.observacion  == '' %}
            <p class="text-muted">Sin observaciones</p>
          {% else %}
          {{ l.observacion }}
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
          
        </div>
      </div>
    </div>
  </div>
