<!-- modal para eliminar registros (envia el id de grupoCloracion)-->
<div class="modal fade " id="eliminartemperatura" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Formulario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Esta acción removerá todos los registros y no se podrá deshacer.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a href="{% url 'eliminartemperatura' grupo_id=grupo.id %}" class="btn btn-outline-danger">Eliminar</a>
        </div>
      </div>
    </div>
  </div>