<nav class="navbar bg-body-tertiary transparente fixed-top">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <strong class="navbar-brand fs-5 fw-semibold" href="#">
            <h4 hidden>Plataforma Monitoreo Industrial</h4>
        </strong>
        
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header rubik-titulo">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Fungicidas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body rubik-texto">
                <ul class="list-unstyled ps-0">
                    <!-- Primera lista-->
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                            Home
                        </button>
                        <!-- Primer collapse de opciones-->
                        <div class="collapse" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/menu"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a>
                                </li>
                                <li><a href="#"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a>
                                </li>
                                <li><a href="#"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a>
                                </li>
                            </ul>
                        </div>

                    </li>

                    <li class="border-top my-3"></li> <!--separador linea fina-->
                    <!-- Segunda lista-->
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#linea11-collapse" aria-expanded="false">
                            Línea 11
                        </button>
                        <!-- Segundo collapse de opciones-->
                        <div class="collapse" id="linea11-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{% url 'cloracion' linea_id=1 %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Cloración</a>
                                </li>
                                <li><a href="{% url 'temperatura' linea_id=1 %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Temperatura</a>
                                </li>
                                <li><a href="{% url 'ppm' linea_id=1 %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Medición
                                        PPM
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Tercera lista-->
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#linea10-collapse" aria-expanded="false">
                            Línea 10
                        </button>
                        <!-- Cuarto collapse de opciones-->
                        <div class="collapse" id="linea10-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{% url 'cloracion' linea_id=2 %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Cloración</a>
                                </li>
                                <li><a href="{% url 'producto' linea_id=2 %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Productos</a>
                                </li>
                                <li><a href="{% url 'fungicida' linea_id=2 %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fungicidas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Tercera Lista-->
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#linea5-collapse" aria-expanded="false">
                            Línea 5
                        </button>
                        <!-- Tercer collapse de opciones-->
                        <div class="collapse" id="linea5-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{% url 'cloracion' linea_id=3 %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Cloración</a>
                                </li>
                                <li><a href="{% url 'temperatura' linea_id=3 %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Temperatura</a>
                                </li>
                                <li><a href="{% url 'ppm' linea_id=3 %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Medición
                                        PPM</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- Cuarta Lista-->
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#linea1-collapse" aria-expanded="false">
                            Línea 1
                        </button>
                        <!-- Tercer collapse de opciones-->
                        <div class="collapse" id="linea1-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{% url 'producto' linea_id=4 %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Productos</a>
                                </li>
                                <li><a href="{% url 'fungicida' linea_id=4 %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fungicidas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Quinta Lista-->
                    <li class="border-top my-3"></li> <!-- Borde separador-->
                    
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#reports-collapse" aria-expanded="true">
                            Reportes
                        </button>
                        <!-- Primer collapse de opciones-->
                        <div class="collapse" id="reports-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/archivos"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Control Cloraciones</a>
                                </li>
                                <li><a href="/archivos_temperatura"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Control Temperatura</a>
                                </li>
                                <li><a href="/archivos_ppm"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Control Medición de PPM</a>
                                </li>
                                <li><a href="/archivos_producto"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Control Productos</a>
                                </li>
                                <li><a href="/archivos_fungicida"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Control Fungicidas</a>
                                </li> 
                            </ul>
                        </div>

                    </li>

                    <li class="border-top my-3"></li> <!-- Borde separador-->
                    
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                            Account
                        </button>
                        <!-- Cuarto collapse de opciones-->
                        <div class="collapse" id="account-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{% url 'registro' %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">New...</a>
                                </li>
                                <li><a href="#"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a>
                                </li>
                                <li><a href="#"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a>
                                </li>
                                <li><a href="{% url 'logout' %}"
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign
                                        out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div> <!-- offcanvas enlaces dentro-->
    </div> <!-- Contenido de offcanvas + boton-->
</nav> <!-- Contenido de offcanvas + boton-->
